/*end页尾*/
.end{
    width:100%;
    background:#EAEAEA;
    min-width:990px;
}
.end>.end-box{
    max-width: 1200px;
    min-width:990px;
    margin:0 auto;
}
.end>.end-box>ul{
    width:100%;
    margin:0 auto;
    overflow: hidden;
    text-align:center;
}
.end>.end-box>ul>li{
    display: inline-block;
    margin:20px 50px;
    width:190px;
}
.end>.end-box>ul>li img{
    float:left;
    border-radius: 50%;
}
.end>.end-box>ul>li h2{
    font-weight:bold;
    font-size:16px;
}
.end>.end-box>ul>li span{
    font-size:12px;
}
.end>.end-box>.end-btm-box{
    margin:20px;
	width:100%;
	border-top:1px solid #ccc;
	overflow: hidden;
	padding-top:20px;
}
.end>.end-box .end-btm{
    width:12%;
    float:left;
    margin-left:8%;
}
.end>.end-box .end-btm>h5{
    font-size:16px;
    font-weight:bold;
}
.end>.end-box .end-btm>ul{
    width:100%;
    overflow: hidden;
}
.end>.end-box .end-btm>ul>li{
    text-align:left;
    margin-top:5px;
}
.end>.end-box .end-btm>ul>li:hover a{
	color:#ff6600;
}
.end>.end-ICP{
	background: #fff;
	width:100%;
	text-align: center;
	padding:20px 0;
}
.end>.end-ICP>p{
	padding:10px 0 20px 0;
}